@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Ubuntu:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    color: white;
    /* overflow: hidden; */
    
    /* background-color: black; */
}

header{
    display: block;
    position: absolute;
    top: 10px;
    width: 100vw;
}

nav{
    display: flex;
    flex-direction: row;
    background-color: #0000;
    align-items: center;
    justify-content: space-evenly;
}
.logo {
    display: flex;
    align-items: center;
    padding: 0 125px 0 0px;
}
.logo h1{
    font-size: 1.6rem;
    font-family: 'Montserrat', sans-serif;
    /* color: #fb3640; */
    
}
.logo img{
    width: 51px;

    
}
.navbar-item{
    padding: 0 75px;
}
.navbar-item a{
    padding: 0 25px;
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    font-family: 'Montserrat', sans-serif;
}
.navbar-item a:hover{
    font-size: 1.2rem;
    font-weight: bold;
}
.main-img img{
    /* position: absolute;
    top: 0;
    z-index: -1;
    overflow: hidden; */
    width: 100vw;
    height: 100vh;
    
}
.main-content{
    width: 25vw;
    position: absolute;
    top: 10vh;
    left: 100px;
    margin: 20vh 0 0 100px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.3rem;
    line-height: 35px;
}
.main-content h1{
    font-family: 'Montserrat', sans-serif;
    margin: 20px 0;
}

#star{
    color: #cf9f46;
}
.main-btn{
    width: 150px;
    height: 40px;
    margin: 35px 20px 0 0;
    border: 0px;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;
    
}
#red-btn{
    background-color: #e30914;
}
#red-btn:hover{
  background-color: #fb3640;
}
#info-btn{
    background-color: black;
}
#info-btn:hover{
    
    background-color: white;
    color: black;
}

.movies{
    background-color: #1b1717;
    margin: -5px 0 0 0;
    width: 100vw;

}
.between{
    display: flex;
    justify-content: space-evenly;
}
.between-items h1{
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.2rem;
    cursor: pointer;
    margin: 5px 0;

}
.between-items h1:hover{
    font-size: 1.3rem;
    color: #e30914;

}
.between-items p{
    font-family: 'Ubuntu', sans-serif;
    font-size: 0.9rem;
    margin: 0 0 25px 0;
}
.between-items img{
    width: 175px;
    height: 250px;
}
.heading-space{
    margin: 0px 0 20px 69px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
}
.icon{
    background-color: #1b1717 ;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
}
.icon i{
    padding: 0 25px;
    font-size: 1.4rem;
    cursor: pointer;
}
.copy{
    text-align: center;
    width: 100vw;
    background-color: #1b1717;
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
}



.fa-instagram:hover{
    
background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
}
.fa-youtube:hover{
    color: #FF0000;
}
.fa-discord:hover{
    color: #7289da;
}
.fa-twitch:hover{
    color: #6441a5;
}
.fa-twitter:hover{
    color: #1DA1F2;
}
.fa-facebook-f:hover{
    color: #4267B2;
}
